<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="GroupInlineComposer">
        <div class="EnterComment publicBackground">
          <div class="row mainFunction">
            <div class="col-md-3">
              <div class="iconUser">
                <i class='fas fa-user-circle' style='font-size:38px'></i><b>ABCSS</b>
              </div>
            </div>
            <div class="col-md-9">
              <div class="postComment">
                <button type="button" class="btn" style="width: 100%; background-color: gainsboro;" data-toggle="modal" data-target="#createPost">
                  What's on your mind ?
                </button>
                <div class="modal fade" id="createPost">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title" style="text-aline:center">Create Post</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <!-- Modal body -->
                    <%= form_for @micropost, method: :post do |f| %>
                      <div class="modal-body">
                        <i class='fas fa-user-circle' style='font-size:24px'></i><b>Current user</b>
                        <div class="createMicropost" style='margin-top: 1em'>
                          
                            <div class="form-group">
                              <%= f.text_field :content, class:"form-control", placeholder:"Write something..." %>
                            </div>
                            <div class="row uploadFile" style="width: 100%;">
                            <div class="col-md-6">
                              <h6>Add to your photo</h6>
                            </div>
                            <div class="col-md-6">
                              <ul class="listChosse">
                                <li><a href="#"><i class="fas fa-video"></i></a></li>
                                <li><a href="#"><i class="fas fa-images"></i></a></li>
                                <li><a href="#"><i class="fas fa-user-friends"></i></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <%= f.submit 'Post', class:"btn btn-primary createPost", style:"width:31em"%>
                      </div>
                    <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row NoFunction">
            <div class="col-md-4"><button type="button" class="btn btn-outline-light text-dark">Room</button></div>
            <div class="col-md-4"><button type="button" class="btn btn-outline-light text-dark">Image/Video</button></div>
            <div class="col-md-4"><button type="button" class="btn btn-outline-light text-dark">Tag People</button></div>
          </div>
        </div>
        <div class="listItemContent">
          <% @list_microposts.each do |micropost| %>
            <div class="itemContent publicBackground">
            <div class="contentMicropostOrEvent">
              <div class="contentDetail">
                <div class="textContent">
                  <div class="informationContent">
                    <i class='fas fa-user-edit'></i>
                    <b><%= micropost.user.name %></b>
                    <div>
                      <span><%= micropost.created_at.to_date%></span>
                    </div>
                  </div>
                  <span><%= micropost.content%></span>
                </div>
                <div class="listImage">

                </div>
              </div>
              <div class="liveLikeAndQuantity">
                <div class="quantityLikeComment">
                  <div class="row">
                    <div class="col-md-5">
                      5 Like
                    </div>
                    <div class="col-md-7">
                      <%= micropost.comments.count%> Comments
                    </div>
                  </div>
                </div>
                <div class="functionCommentLike">
                  <div class="row">
                    <div class="col-md-6">
                      <i class="far fa-thumbs-up"></i>Like
                    </div>
                    <div class="col-md-6">
                      <i class="far fa-comment-alt"></i>Comment
                    </div>
                  </div>
                </div>
                <%= form_for :comment, url: micropost_comments_path(micropost), remote: true do |f| %>
                  <div class="postComment">
                    <div class="form-group" style="margin-top: 5px;">
                      <div class="row">
                        <div class="col-md-10">
                          <%= f.text_field :content, class:"form-control", placeholder:"Write something..." %>
                          <%= f.hidden_field :user_id, :value => current_user.id %>
                        </div>
                        <div class="col-md-2">
                          <%= f.submit "Post", class:"btn btn-primary"%>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
                <div class="listComment">
                  <% micropost.comments.each do |comment| %>
                    <%= render  "comment", comment: comment %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="aboutThisForum publicBackground">
        <h5 class="marginForpage">About</h5>
        <div class="row marginForpage">
          <div class="col-md-2">
            <i class='fas fa-lock-open'></i>
          </div>
          <div class="col-md-10">
            <div class="correspondingContetn">
              <h6>Public</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  // $(document).ready(function(){
  //   $(".createPost").click(function(){
  //     $.ajax({ 
  //       type: "post",
  //       url: 
  //     }});
  //   });
  // });
</script>